.about{
    height: 338px;
    display:flex;
}

.about-left{
    display: flex;
    /* background-color: rgb(83, 34, 34); */
}

.about-left img{
    width: 48px;
    height: 190px;
}

.about-left img:nth-child(1){

    margin: 72px 10px 274px 21px;
}
.about-left img:nth-child(2){
    margin: 100px 8px 246px 0px;
    
}
.about-left img:nth-child(3){
    margin: 120px 35px 226px 0;

}

.about-right h1{
    margin-top: 72px;
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    line-height:32px;
    text-align: center;
}
.about-right p{
    margin-top: 16px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
}