.home {
  width: 432px;
  height: 338px;
  position: relative;
  padding-top: 9px;
}

.home::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../../images/gabriel-tovar-30xixEVV0yQ-unsplash 1.png");
  z-index: -1;
  opacity: 0.35;
}

/* menu */
.menu-items ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 62px;
}
.menu-items ul li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  list-style-type: none;
  color: black;
  margin-right: 12px;
  font-size: 10px;
}

/* inner text */
.home-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding-left: 43px;
  padding-right: 45px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-text h1 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.home-inner img {
  width: 20px;
}
.home-text {
  /* margin: 0 15px; */
  margin: 0 0px 0 15px;
}
.home-text p {
  margin: 15px 0;
  font-size: 9px;
  font-family: "Roboto", sans-serif;
}
.view-gallery {
  font-family: "Roboto", sans-serif;
  width: 90px;
  height: 23px;
  font-weight: bold;
  padding: 4px 12px 5px 12px;
  border: 1px solid #c10303;
  box-sizing: border-box;
  border-radius: 15px;
  font-size: 12px;
  text-align: center;
  transition: all 0.35s ease-in-out;

  opacity: 0;
    animation: btn 4000ms forwards;
    animation-delay: 500ms;
}

@keyframes btn{
    from{
        opacity: 0;
        transform: translateX(-120px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.view-gallery:hover{
background: #b61e1e;
color:aliceblue;
}
