@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
body{ 
    height: 874px; 
    width: 431px;  
    margin: 0 auto;
}
